* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}

.nav-cont {
    display: flex;
    gap: 40%;
    margin-right: 40%;
    padding-top: 4px;
    font-size: 1.5rem;
}

.nav-cont a {
    text-decoration: none;
    color: rgb(241, 229, 229);
    width: 80px;
}

.nav-cont a:hover {
    color: #91C8E4;
}

.home {
    width: 100%;
}

nav {
    z-index: 9999;
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    background-color: #000000;
    border-radius: 400px;
    height: 8vh;

}


.logo img {
    width: 160px;
}



.home .search {
    cursor: auto;
    width: 250px;
    height: 36px;
    border-radius: 15px;
    text-align: center;
    margin-left: -119px;
}

.login input {
    width: 80px;
    height: 30px;
    padding: 4px 12px;
    cursor: pointer;
    background-color: #A1CCD1;
    color: rgb(0, 0, 0);
    border-color: #010202;
}

.login input:hover {
    border-color: #7C9D96;
    background-color: #4682A9;
    color: aliceblue;
    transform: scale(1.2);
    transition: 0.9s;
}


.home .first-page {
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

.home .first-page video {
    width: 100%;
    opacity: 0.5;
    height: 100vh;
}

.home .first-page p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -400px;
    font-size: 100px;
    color: #0087e0;
}




.hollywood1 h1 {
    font-size: 50px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #213555;
    background-color: #000000;
    border-top: 2px solid white;
    text-decoration: overline;
    color: white;
}

.hollywood1 h1:hover {
    color: #0087e0;
    text-decoration: underline;

}

.hollywood1 .image1 {
    width: 100%;
    height: 130vh;
    background-color: #06344e;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.image1 img {
    border: 2px solid black;
    color: aliceblue;
    width: 230px;

}

.image1 img:hover {

    border: 2px solid rgb(28, 198, 228);
    box-shadow: 2px 2px 20px whitesmoke;
}

.hollywood1 .img {
    width: 200px;
    height: 297px;
    border: 2px solid rgb(233, 211, 211);
}

.hollywood1 .img:hover {
    background-color: rgb(75, 68, 56);
    border: 2px solid rgb(28, 198, 228);
    box-shadow: 2px 2px 20px whitesmoke;
}

/* .hollywood1 .img p{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50%;
    color: cornsilk;
}
.hollywood1 .img a{
    text-decoration: none;
}
.hollywood1 .img p:hover{
    color: #0087e0;
    text-decoration: underline;
} */
.bollywood1 h1 {
    font-size: 50px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #213555;
    background-color: #000000;
    border-top: 2px solid white;
    text-decoration: overline;
    color: white;
}

.bollywood1 h1:hover {
    color: #0087e0;
    text-decoration: underline;
}

.bollywood1 .image2 {
    width: 100%;
    height: 130vh;
    background-color: #06344e;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.image2 img {
    color: aliceblue;
    border: 2px solid black;
    width: 230px;
}


.image2 img:hover {
    border: 2px solid rgb(28, 198, 228);
    box-shadow: 2px 2px 20px whitesmoke;
}

.kollywood1 h1 {
    font-size: 50px;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #213555;
    text-decoration: overline;
    border-top: 2px solid white;
    background-color: #000000;

}

.kollywood1 h1:hover {
    color: #0087e0;
    text-decoration: underline;
}

.kollywood1 .image3 {
    width: 100%;
    height: 130vh;
    background-color: #06344e;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.image3 img {
    color: aliceblue;
    border: 2px solid black;
    width: 230px;
}


.image3 img:hover {
    border: 2px solid rgb(28, 198, 228);
    box-shadow: 2px 2px 20px whitesmoke;
}

.series1 h1 {
    font-size: 50px;
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    background-color: #213555;
    color: white;
    text-decoration: overline;
    border-top: 2px solid white;
    background-color: #000000;

}

.series1 h1:hover {
    color: #0087e0;
    text-decoration: underline;
}

.series1 .image4 {
    width: 100%;
    height: 130vh;
    background-color: #06344e;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.image4 img {
    color: aliceblue;
    border: 2px solid black;
    width: 230px;
}


.image4 img:hover {
    border: 2px solid rgb(28, 198, 228);
    box-shadow: 2px 2px 20px whitesmoke;
}

footer {
    background-color: #000000;

}

footer .foot {
    display: flex;
    justify-content: space-around;
    height: 40vh;
    align-items: center;
    width: 1250px;
}

.foot a {
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-top: 30px;
}

.foot a:hover {
    color: #0087e0;
}

.first {

    display: flex;
    flex-direction: column;

}

.second {
    display: flex;
    flex-direction: column;
}

.third {
    display: flex;
    flex-direction: column;
}

footer {
    height: 50vh;
}

footer img {
    width: 190px;
    margin-bottom: 125px;

}

footer p {
    color: white;
    margin-left: 1160px;
    margin-top: -194px;
}

.icon {

    margin-left: 970px;
    position: absolute;
    margin-top: -6%;


}

.icon a {
    color: white;
    padding-right: 50px;
    font-size: 35px;
    cursor: pointer;

}

.icon a:hover {
    color: #0087e0;
}

@media screen and (max-width:1300px) {
    .nav-cont a {
        font-size: 24px;
    }

    .home .search {
        width: 225px;
        height: 37px;
    }

    .login input {
        height: 31px;
        width: 80px;
    }

    .image1 img {
        width: 193px;
    }

    .image2 img {
        width: 193px;
    }

    .image3 img {
        width: 193px;
    }

    .image4 img {
        width: 193px;
    }

    .hollywood1 h1 {
        font-size: 36px;
    }

    .bollywood1 h1 {
        font-size: 36px;
    }

    .kollywood1 h1 {
        font-size: 36px;
    }

    .series1 h1 {
        font-size: 36px;
    }

    .nav-cont a {
        width: 72px;
    }

    footer p {
        color: white;
        margin-left: 1136px;
        margin-top: -186px;
    }

    footer .foot {
        width: 1226px;
    }

    .icon {
        margin-left: 950px;
    }
}

@media screen and (max-width:1250px) {
    .image1 img {
        width: 191px;
    }

    .image2 img {
        width: 191px;
    }

    .image3 img {
        width: 191px;
    }

    .image4 img {
        width: 191px;
    }

    footer .foot {


        width: 1174px;
    }

    footer p {
        margin-left: 1094px;
        margin-top: -183px;
    }

    .icon {
        margin-left: 911px;
    }

    footer .foot {
        width: 1120px;
    }

    footer p {
        margin-left: 1045px;
    }

    .icon {
        margin-left: 864px;
    }
}

@media screen and (max-width:1200px) {
    .nav-cont a {
        width: 65px;
    }

    .image1 img {
        width: 177px;
    }

    .image2 img {
        width: 177px;
    }

    .image3 img {
        width: 177px;
    }

    .image4 img {
        width: 177px;
    }

    footer p {
        margin-top: -187px;
    }
}

@media screen and (max-width:1150px) {
    .nav-cont a {
        width: 62px;
        font-size: 21px;
    }

    footer .foot {
        width: 1090px;
    }

    footer p {
        margin-top: -173px;
        margin-left: 1016px;
    }

    .icon {
        margin-left: 832px;
    }

    footer .foot {
        width: 1053px;
    }

    footer p {
        margin-top: -175px;
        margin-left: 986px;
    }

    .icon {
        margin-left: 805px;
    }

    .nav-cont a {
        width: 60px;
        font-size: 20px;
    }
}

@media screen and (max-width:1100px) {
    .nav-cont a {
        width: 58px;
        font-size: 20px;
    }

    .home .search {
        width: 198px;
        height: 35px;
    }

    .image1 img {
        width: 167px;
    }

    .image2 img {
        width: 167px;
    }

    .image3 img {
        width: 167px;
    }

    .image4 img {
        width: 167px;
    }

    footer .foot {
        width: 1010px;
    }

    footer p {
        margin-top: -173px;
        margin-left: 948px;
    }

    .icon {
        margin-left: 768px;
    }

}

@media screen and (max-width:1050px) {

    .nav-cont a {
        width: 54px;
        font-size: 19px;
    }

    footer .foot {
        width: 955px;
    }

    footer p {
        margin-top: -164px;
        margin-left: 900px;
    }

    .icon {
        margin-left: 713px;
    }

    .nav-cont a {
        width: 50px;
        font-size: 18px;
    }

    .image1 img {
        width: 155px;
    }

    .image2 img {
        width: 155px;
    }

    .image3 img {
        width: 155px;
    }

    .image4 img {
        width: 155px;
    }

    footer .foot {
        width: 914px;
    }

    footer p {
        margin-top: -162px;
        margin-left: 865px;
    }

    .icon {
        margin-left: 682px;
    }
}

@media screen and (max-width:1000px) {
    .nav-cont a {
        width: 47px;
        font-size: 16px;
    }

    .home .search {
        width: 191px;
        height: 31px;
    }

    .image1 img {
        width: 149px;
    }

    .image2 img {
        width: 149px;
    }

    .image3 img {
        width: 149px;
    }

    .image4 img {
        width: 149px;
    }

    footer .foot {
        width: 879px;
    }

    footer p {
        margin-top: -163px;
        margin-left: 833px;
    }

    .icon {
        margin-left: 653px;
    }
}

@media screen and (max-width:950px) {
    .nav-cont a {
        width: 45px;
        font-size: 16px;
    }

    .home .search {
        width: 177px;
        height: 29px;
    }

    .home .first-page p {
        margin-top: -355px;
        font-size: 90px;
    }

    footer .foot {
        width: 865px;
    }

    footer p {
        margin-top: -161px;
        margin-left: 819px;
        font-size: 13px;
    }

    .icon {
        margin-left: 633px;
    }

    .home .search {
        width: 163px;
        height: 29px;
        margin-left: -95px;
    }

    .logo img {
        width: 155px;
        margin-left: 22px;
    }

    .login input {
        height: 31px;
        width: 80px;
        margin-left: 12px;
    }

    .home .first-page video {
        width: 95%;
        opacity: 0.5;
        margin-left: 25px;
        height: 111vh;
    }

}

@media screen and (max-width:900px) {
    .hollywood1 .image1 {
        height: 164vh;
    }

    .bollywood1 .image2 {
        height: 164vh;
    }

    .kollywood1 .image3 {
        height: 164vh;
    }

    .series1 .image4 {
        height: 164vh;
    }

    .image1 img {
        width: 182px;
    }

    .image2 img {
        width: 182px;
    }

    .image3 img {
        width: 182px;
    }

    .image4 img {
        width: 182px;
    }

    footer img {
        width: 176px;
        margin-bottom: 125px;
    }

    footer .foot {
        width: 823px;
    }

    footer p {
        margin-top: -163px;
        margin-left: 782px;
        font-size: 13px;
    }

    .icon a {
        padding-right: 46px;
        font-size: 30px;
    }

    .icon {
        margin-left: 614px;
    }

    footer .foot {
        width: 806px;
    }

    footer p {
        margin-top: -162px;
        margin-left: 765px;
        font-size: 12px;
    }

    .icon {
        margin-left: 603px;
    }

    .nav-cont a {
        width: 39px;
        font-size: 16px;
    }
}

@media screen and (max-width:850px) {
    footer .foot {
        width: 756px;
    }

    footer p {
        margin-top: -162px;
        margin-left: 722px;
        font-size: 12px;
    }

    .icon {
        margin-left: 550px;
    }

    .logo img {
        width: 150px;
        margin-left: 3px;
    }
}

@media screen and (max-width:800px) {
    .login input {
        margin-left: 19px;
    }

    .logo img {
        width: 133px;
        margin-left: 9px;
    }

    .home .search {
        width: 163px;
        height: 29px;
        margin-right: -11px;
        margin-left: -90px;
    }

    footer .foot {
        width: 660px;
    }

    footer img {
        width: 159px;
    }

    footer p {
        margin-top: -163px;
        margin-left: 629px;
        font-size: 12px;
    }

    .home .first-page video {
        width: 95%;
        opacity: 0.5;
        margin-left: 25px;
        margin-top: -43px;
        height: 111vh;
    }

    .home .first-page {
        height: 90vh;
    }

    .hollywood1 h1 {
        font-size: 36px;
        margin-top: -53px;
    }

    .logo img {
        width: 127px;
    }

    .login input {
        width: 74px;
        height: 28px;
    }

    .home .search {
        width: 158px;
        height: 28px;
        margin-right: -14px;
        margin-left: -81px;
    }

    .nav-cont a {
        width: 36px;
        font-size: 15px;
    }

    .home .first-page p {
        margin-top: -355px;
        font-size: 81px;
    }

    .image1 img {
        width: 173px;
    }

    .image2 img {
        width: 173px;
    }

    .image3 img {
        width: 173px;
    }

    .image4 img {
        width: 173px;
    }

    .foot a {
        font-size: 12px;
    }

    .icon {
        margin-left: 472px;
    }

}

@media screen and (max-width:750px) {
    .nav-cont {
        margin-left: -20px;
    }

    .home .search {
        width: 153px;
        height: 28px;
        margin-right: -13px;
        margin-left: -76px;
    }

    .nav-cont a {
        width: 34px;
        font-size: 14px;
    }

    footer .foot {
        width: 626px;
    }

    footer p {
        margin-top: -163px;
        margin-left: 601px;
        font-size: 12px;
    }

    .icon {
        margin-left: 447px;
    }
}

@media screen and (max-width:700px) {
    .image1 img {
        width: 163px;
    }

    .image2 img {
        width: 163px;
    }

    .image3 img {
        width: 163px;
    }

    .image4 img {
        width: 163px;
    }

    .nav-cont {
        margin-left: -29px;
    }

    .nav-cont a {
        width: 32px;
        font-size: 14px;
    }

    .nav-cont a {
        width: 31px;
        font-size: 13px;
    }

    .login input {
        width: 69px;
        height: 27px;
    }

    .home .search {
        width: 148px;
        height: 28px;
        margin-right: -14px;
        margin-left: -74px;
    }

    footer .foot {
        width: 602px;
    }

    footer p {
        margin-top: -162px;
        margin-left: 580px;
        font-size: 11px;
    }

    .icon {
        margin-left: 428px;
    }

    .nav-cont a {
        width: 30px;
        font-size: 13px;
    }

    footer img {
        width: 147px;
    }

    footer .foot {
        width: 573px;
    }

    footer p {
        margin-top: -165px;
        margin-left: 554px;
        font-size: 11px;
    }

    .icon {
        margin-left: 414px;
    }

    .image1 img {
        width: 146px;
    }

    .image2 img {
        width: 146px;
    }

    .image3 img {
        width: 146px;
    }

    .image4 img {
        width: 146px;
    }

    .home .first-page p {
        margin-top: -354px;
        margin-left: 11px;
        font-size: 74px;
    }
}

@media screen and (max-width:650px) {
    .nav-cont a {
        width: 29px;
        font-size: 13px;
    }

    .home .search {
        width: 143px;
        height: 27px;
        margin-right: -16px;
        margin-left: -70px;
    }

    .icon a {
        padding-right: 43px;
        font-size: 24px;
    }

    .nav-cont {
        margin-left: -36px;
    }

    .login input {
        width: 59px;
        height: 26px;
    }

    footer .foot {
        width: 544px;
    }

    footer p {
        margin-top: -165px;
        margin-left: 525px;
        font-size: 11px;
    }

    .icon {
        margin-left: 393px;
    }

    .nav-cont a {
        width: 28px;
        font-size: 12px;
    }

    .home .search {
        width: 139px;
        height: 27px;
        margin-right: -18px;
        margin-left: -64px;
    }

    .home .first-page p {
        margin-top: -352px;
        margin-left: 14px;
        font-size: 69px;
    }
}

@media screen and (max-width:600px) {
    .nav-cont a {
        width: 26px;
        font-size: 11px;
    }

    .home .search {
        width: 126px;
        height: 27px;
        padding-left: 18px;
        margin-right: -17px;
        margin-left: -61px;
    }

    .image1 img {
        width: 131px;
    }

    .image2 img {
        width: 131px;
    }

    .image3 img {
        width: 131px;
    }

    .image4 img {
        width: 131px;
    }

    .hollywood1 .image1 {
        height: 151vh;
    }

    .bollywood1 .image2 {
        height: 151vh;
    }

    .kollywood1 .image3 {
        height: 151vh;
    }

    .series1 .image4 {
        height: 151vh;
    }

    .home .first-page video {
        width: 95%;
        opacity: 0.5;
        margin-left: 18px;
        margin-top: -58px;
        height: 100vh;
    }

    .home .first-page p {
        margin-top: -325px;
        margin-left: 10px;
        font-size: 67px;
    }

    .home .first-page {
        height: 78vh;
    }

    .hollywood1 h1 {
        font-size: 36px;
        margin-top: -118px;
    }

    footer .foot {
        width: 505px;
    }

    footer p {
        margin-top: -163px;
        margin-left: 493px;
        font-size: 11px;
    }

    .icon {
        margin-left: 358px;
    }

    .nav-cont {
        margin-left: -38px;
    }

    .home .search {
        width: 116px;
        height: 25px;
        padding-left: 14px;
        margin-right: -18px;
        margin-left: -54px;
    }

    .logo img {
        width: 116px;
    }

    .login input {
        width: 57px;
        height: 24px;
        font-size: 12px;
    }

    footer .foot {
        width: 493px;
    }

    footer p {
        margin-top: -161px;
        margin-left: 482px;
        font-size: 9px;
    }

    .icon a {
        padding-right: 41px;
        font-size: 22px;
    }

    .foot a {
        padding: 6px;
        padding-top: 28px;
    }

    .icon {
        margin-left: 342px;
    }

    .home .first-page p {
        margin-top: -324px;
        margin-left: 8px;
        font-size: 64px;
    }
}

@media screen and (max-width:550px) {
    .nav-cont a {
        width: 24px;
        font-size: 10px;
    }

    .home .search {
        width: 113px;
        height: 23px;
        padding-left: 11px;
        margin-right: -16px;
        margin-left: -51px;
    }

    .home .first-page p {
        margin-top: -316px;
        margin-left: 8px;
        font-size: 57px;
    }

    .image1 img {
        width: 123px;
    }

    .image2 img {
        width: 123px;
    }

    .image3 img {
        width: 123px;
    }

    .image4 img {
        width: 123px;
    }

    .hollywood1 .image1 {
        height: 139vh;
    }

    .bollywood1 .image2 {
        height: 139vh;
    }

    .kollywood1 .image3 {
        height: 139vh;
    }

    .series1 .image4 {
        height: 139vh;
    }

    .foot a {
        font-size: 9px;
    }

    footer img {
        width: 138px;
        margin-top: 30px;
    }

    footer p {
        margin-top: -149px;
        margin-left: 446px;
        font-size: 9px;
    }

    .icon {
        margin-left: 312px;
        margin-top: -44px;
    }

    footer {
        height: 43vh;
    }

    footer .foot {
        width: 465px;
    }

    .logo img {
        width: 110px;
    }

    .nav-cont {
        margin-left: -41px;
    }

    .home .search {
        width: 113px;
        height: 23px;
        padding-left: 11px;
        margin-right: -18px;
        margin-left: -50px;
    }

    footer .foot {
        width: 430px;
    }

    footer p {
        margin-top: -149px;
        margin-left: 416px;
        font-size: 9px;
    }

    .icon {
        margin-left: 288px;
        margin-top: -44px;
    }

    .nav-cont a {
        width: 22px;
        font-size: 9px;
    }

    .home .search {
        width: 108px;
        height: 23px;
        padding-left: 9px;
        margin-right: -18px;
        margin-left: -48px;
    }
}

@media screen and (max-width:500px) {
    .hollywood1 .image1 {
        height: 154vh;
    }

    .bollywood1 .image2 {
        height: 154vh;
    }

    .kollywood1 .image3 {
        height: 154vh;
    }

    .series1 .image4 {
        height: 154vh;
    }

    .image1 img {
        width: 126px;
    }

    .image2 img {
        width: 126px;
    }

    .image3 img {
        width: 126px;
    }

    .image4 img {
        width: 126px;
    }

    .login input {
        width: 53px;
        height: 23px;
        font-size: 11px;
        margin-left: 23px;
        margin-right: -7px;
    }

    .home .search {
        width: 105px;
        height: 23px;
        padding-left: 9px;
        margin-right: -22px;
        margin-left: -48px;
    }

    .home .first-page p {
        margin-top: -314px;
        margin-left: 10px;
        font-size: 52px;
    }

    footer .foot {
        width: 407px;
    }

    footer p {
        margin-top: -147px;
        margin-left: 396px;
        font-size: 9px;
    }

    .icon {
        margin-left: 268px;
        margin-top: -44px;
    }

    .nav-cont a {
        width: 21px;
        font-size: 9px;
    }

    .home .search {
        width: 98px;
        height: 21px;
        padding-left: 14px;
        margin-right: -22px;
        margin-left: -44px;
    }

    .nav-cont {
        margin-left: -44px;
    }

    .nav-cont a {
        width: 20px;
        font-size: 9px;
    }

    footer img {
        width: 125px;
        margin-top: 30px;
    }

    .foot a {
        padding: 5px;
        padding-top: 24px;
    }

    footer .foot {
        width: 380px;
        padding-bottom: 39px;
    }

    footer img {
        width: 117px;
        margin-top: 44px;
    }

    footer p {
        margin-top: -163px;
        margin-left: 370px;
        font-size: 9px;
    }

    .icon {
        margin-left: 256px;
        margin-top: -73px;
    }
}

@media screen and (max-width:450px) {
    .nav-cont a {
        width: 18px;
        font-size: 8px;
    }

    .home .search {
        width: 94px;
        height: 20px;
        padding-left: 14px;
        margin-right: -22px;
        margin-left: -48px;
    }

    .login input {
        width: 49px;
        height: 22px;
        font-size: 10px;
        margin-left: 22px;
        margin-right: -6px;
    }

    .logo img {
        width: 110px;
        margin-left: 10px;
    }

    footer {
        height: 40vh;
    }

    .icon a {
        padding-right: 33px;
        font-size: 18px;
    }

    .home .first-page video {
        width: 95%;
        opacity: 0.5;
        margin-left: 10px;
        margin-top: -103px;
        height: 100vh;
    }

    .home .first-page p {
        margin-top: -315px;
        margin-left: 5px;
        font-size: 47px;
    }

    .home .first-page {
        height: 67vh;
    }

    .hollywood1 h1 {
        font-size: 31px;
        margin-top: -178px;
    }

    .bollywood1 h1 {
        font-size: 31px;
    }

    .kollywood1 h1 {
        font-size: 31px;
    }

    .series1 h1 {
        font-size: 31px;
    }

    .home .search {
        width: 94px;
        height: 20px;
        padding-left: 10px;
        margin-right: -21px;
        margin-left: -45px;
    }

    footer .foot {
        width: 365px;
        padding-bottom: 53px;
    }

    footer p {
        margin-top: -168px;
        margin-left: 356px;
        font-size: 8px;
    }

    .icon {
        margin-left: 242px;
        margin-top: -75px;
    }

    .login input {
        width: 47px;
        height: 21px;
        font-size: 9px;
        margin-left: 21px;
        margin-right: -7px;
    }

    .home .search {
        width: 91px;
        height: 19px;
        padding-left: 14px;
        margin-right: -22px;
        margin-left: -43px;
        font-size: 11px;
    }

    .nav-cont a {
        width: 17px;
        font-size: 7px;
    }

    footer .foot {
        width: 350px;
        padding-bottom: 53px;
    }

    footer p {
        margin-top: -168px;
        margin-left: 343px;
        font-size: 8px;
    }

    .icon {
        margin-left: 229px;
        margin-top: -75px;
    }

    .logo img {
        width: 99px;
        margin-left: 9px;
    }

    .home .search {
        width: 86px;
        height: 18px;
        padding-left: 16px;
        margin-right: -20px;
        margin-left: -37px;
        font-size: 11px;
    }
}

@media screen and (max-width:400px) {
    .login input {
        width: 43px;
        height: 19px;
        font-size: 9px;
        margin-left: 20px;
        margin-right: -7px;
        padding-top: 3px;
        padding-left: 10px;
    }

    .image1 img {
        width: 121px;
    }

    .image2 img {
        width: 121px;
    }

    .image3 img {
        width: 121px;
    }

    .image4 img {
        width: 121px;
    }

    .foot a {
        font-size: 7px;
    }

    footer .foot {
        width: 332px;
        padding-bottom: 53px;
    }

    footer p {
        margin-top: -170px;
        margin-left: 324px;
        font-size: 8px;
    }

    .icon {
        margin-left: 209px;
        margin-top: -83px;
    }

    footer {
        height: 40vh;
    }

    .logo img {
        width: 94px;
        margin-left: 11px;
    }

    .home .search {
        width: 79px;
        height: 17px;
        padding-left: 15px;
        margin-right: -16px;
        margin-left: -34px;
        font-size: 10px;
    }

    .home .first-page p {
        margin-top: -310px;
        margin-left: 7px;
        font-size: 44px;
    }

    .home .first-page {
        height: 62vh;
    }

    .hollywood1 h1 {
        font-size: 31px;
        margin-top: -203px;
    }

    nav {
        width: 102%;
        height: 6vh;
    }

    .nav-cont {
        margin-left: -45px;
        width: 61px;
    }

    footer img {
        width: 105px;
        margin-top: 45px;
    }

    footer .foot {
        width: 317px;
        padding-bottom: 53px;
    }

    footer p {
        margin-top: -169px;
        margin-left: 308px;
        font-size: 7px;
    }

    .image1 img {
        width: 113px;
    }

    .image2 img {
        width: 113px;
    }

    .image3 img {
        width: 113px;
    }

    .image4 img {
        width: 113px;
    }

    .home .search {
        width: 79px;
        height: 17px;
        padding-left: 15px;
        margin-right: -20px;
        margin-left: -31px;
        font-size: 10px;
    }

    .home .first-page p {
        margin-top: -302px;
        margin-left: 7px;
        font-size: 40px;
    }

    .icon a {
        padding-right: 27px;
        font-size: 13px;
    }

    footer .foot {
        width: 302px;
        padding-bottom: 53px;
    }

    .icon {
        margin-left: 197px;
        margin-top: -78px;
    }

    .logo img {
        width: 82px;
        margin-left: 12px;
    }

    .login input {
        width: 38px;
        height: 18px;
        font-size: 8px;
        margin-left: 27px;
        margin-right: -10px;
        padding-top: 3px;
        padding-left: 10px;
        margin-bottom: 6px;
    }

    .home .search {
        width: 73px;
        height: 16px;
        padding-left: 14px;
        margin-right: -26px;
        margin-left: -20px;
        font-size: 9px;
        margin-bottom: 7px;
    }

    .nav-cont a {
        width: 16px;
        font-size: 7px;
        margin-top: -6px;
    }

    footer p {
        margin-top: -169px;
        margin-left: 296px;
        font-size: 7px;
    }
}

@media screen and (max-width:350px) {
    .home .first-page p {
        margin-top: -300px;
        margin-left: 2px;
        font-size: 35px;
    }

    .hollywood1 .image1 {
        height: 207vh;
    }

    .bollywood1 .image2 {
        height: 207vh;
    }

    .kollywood1 .image3 {
        height: 207vh;
    }

    .series1 .image4 {
        height: 207vh;
    }

    .image1 img {
        width: 118px;
    }

    .image2 img {
        width: 118px;
    }

    .image3 img {
        width: 118px;
    }

    .image4 img {
        width: 118px;
    }

    .home .first-page video {
        width: 95%;
        opacity: 0.5;
        margin-left: 8px;
        margin-top: -126px;
        height: 100vh;
    }

    .home .first-page {
        height: 53vh;
    }

    .hollywood1 h1 {
        font-size: 29px;
        margin-top: -251px;
    }

    .bollywood1 h1 {
        font-size: 29px;

    }

    .kollywood1 h1 {
        font-size: 29px;

    }

    .series1 h1 {
        font-size: 29px;

    }

    footer img {
        width: 98px;
        margin-top: 44px;
    }

    .home .search {
        width: 63px;
        height: 15px;
        padding-left: 13px;
        margin-right: -26px;
        margin-left: -19px;
        font-size: 8px;
        margin-bottom: 9px;
    }

    footer .foot {
        width: 286px;
        padding-bottom: 49px;
    }

    footer p {
        margin-top: -167px;
        margin-left: 282px;
        font-size: 6px;
    }

    .icon {
        margin-left: 189px;
        margin-top: -76px;
    }

    .login input {
        width: 32px;
        height: 15px;
        font-size: 5px;
        margin-left: 27px;
        margin-right: -12px;
        padding-top: 3px;
        padding-left: 9px;
        margin-bottom: 8px;
    }

    .home .search {
        width: 57px;
        height: 14px;
        padding-left: 12px;
        margin-right: -27px;
        margin-left: -13px;
        font-size: 8px;
        margin-bottom: 8px;
    }

    footer img {
        width: 87px;
        margin-top: 44px;
    }

    footer .foot {
        width: 272px;
        padding-bottom: 49px;
    }

    footer p {
        margin-top: -167px;
        margin-left: 268px;
        font-size: 6px;
    }

    .icon {
        margin-left: 183px;
        margin-top: -76px;
    }

    footer img {
        width: 76px;
        margin-top: 43px;
    }

    footer .foot {
        width: 258px;
        padding-bottom: 49px;
    }

    footer p {
        margin-top: -169px;
        margin-left: 255px;
        font-size: 6px;
    }

    .logo img {
        width: 72px;
        margin-left: 12px;
    }

    .home .search {
        width: 52px;
        height: 13px;
        padding-left: 12px;
        margin-right: -27px;
        margin-left: -7px;
        font-size: 8px;
        margin-bottom: 9px;
    }

    .nav-cont a {
        width: 15px;
        font-size: 6px;
        margin-top: -6px;
    }
}

@media screen and (max-width:300px) {
    .icon a {
        padding-right: 22px;
        font-size: 8px;
    }

    footer img {
        width: 69px;
        margin-top: 42px;
    }

    footer .foot {
        width: 239px;
        padding-bottom: 49px;
    }

    footer p {
        margin-top: -170px;
        margin-left: 236px;
        font-size: 6px;
    }

    .icon {
        margin-left: 173px;
        margin-top: -76px;
    }

    .image1 img {
        width: 112px;
    }

    .image2 img {
        width: 112px;
    }

    .image3 img {
        width: 112px;
    }

    .image4 img {
        width: 112px;
    }

    .home .first-page p {
        margin-top: -299px;
        margin-left: 0px;
        font-size: 32px;
    }

    .home .first-page video {
        width: 95%;
        opacity: 0.5;
        margin-left: 8px;
        margin-top: -148px;
        height: 100vh;
    }

    .home .first-page {
        height: 46vh;
    }

    .hollywood1 h1 {
        font-size: 29px;
        margin-top: -288px;
    }

    .logo img {
        width: 60px;
        margin-left: 13px;
    }

    .home .search {
        width: 49px;
        height: 12px;
        padding-left: 11px;
        margin-right: -28px;
        margin-left: -5px;
        font-size: 8px;
        margin-bottom: 9px;
    }

    .nav-cont {
        margin-left: -46px;
        width: 55px;
    }

    .login input {
        width: 30px;
        height: 13px;
        font-size: 5px;
        margin-left: 27px;
        margin-right: -12px;
        padding-top: 2px;
        padding-left: 8px;
        margin-bottom: 7px;
    }

    .logo img {
        width: 60px;
        margin-left: 17px;
    }

    .nav-cont a {
        width: 13px;
        font-size: 5px;
        margin-top: -6px;
    }

    footer img {
        width: 65px;
        margin-top: 49px;
    }

    .foot a {
        font-size: 6px;
    }

    footer .foot {
        width: 222px;
        padding-bottom: 49px;
    }

    footer p {
        margin-top: -167px;
        margin-left: 219px;
        font-size: 6px;
    }

    .icon {
        margin-left: 157px;
        margin-top: -80px;
    }

    .home .first-page p {
        margin-top: -294px;
        margin-left: 3px;
        font-size: 27px;
    }

    .nav-cont {
        margin-left: -47px;
        width: 45px;
    }

    .home .search {
        width: 46px;
        height: 11px;
        padding-left: 11px;
        margin-right: -27px;
        margin-left: -2px;
        font-size: 8px;
        margin-bottom: 11px;
    }

    .login input {
        width: 26px;
        height: 12px;
        font-size: 5px;
        margin-left: 27px;
        margin-right: -12px;
        padding-top: 1px;
        padding-left: 5px;
        margin-bottom: 10px;
    }

    .logo img {
        width: 56px;
        margin-left: 17px;
    }

    footer .foot {
        width: 212px;
        padding-bottom: 49px;
    }

    footer p {
        margin-top: -167px;
        margin-left: 209px;
        font-size: 6px;
    }

    .icon {
        margin-left: 150px;
        margin-top: -80px;
    }
}